*{
    margin:0;
    padding: 0%;
    font-family:'Poppins',sans-serif;
    
}

.header
{
    min-height: 100vh;
    width:100%;
    background: #000;
    color: #fff;
    overflow-y: scroll;
    background-size: cover;
}


nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo
{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 5%;
}

.nav-links
{
    text-align: right;
    background:purple;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}

.nav-links ul li 
{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-links ul li a 
{
    color: #fff;
    text-decoration: none; 
    font-size:18px;
    transition : 0.5s ea;  
}

.nav-links ul li a:hover
{
    color: #000;
}

.left-sidebar
{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background:purple;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
}

.row
{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}
.left-col
{
    flex-basis: 40%;
}

.left-col img
{
    width:400%;
    cursor: pointer;
    position:fixed;
    top: 30%;
    left: 10%;
    width: 350px; 
    height: 350px;
   
    border-radius: 15%;
}



.right-col
{
    flex-basis: 55%;
    position: fixed;
    top: 40%;
    left: 40%;
}


.right-col h1
{
    font-size: 75px;
    font-weight: 55px;
}

.right-col h4 
{
    display: flex;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(196, 189, 189);
}

.right-col h3
{
    display: flex;
    margin-top: 30px;
    color: rgb(196, 189, 189);
    font-size: 25px;
}


.education{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}

.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
}
.card{
	height: 400px;
	width: 300px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: purple;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card ul li 
{
    list-style: none;
   
    padding: 10px 25px;
}

.card ul li a 
{
    color: #fcfc;
    text-decoration: none; 
    font-size:18px;
   
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  purple;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
